body {
    /* background-color: #b0bec5; */
    background-image: url(table-bkg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#title {
    font-family: 'Lobster', cursive;
    color: #4caf50;
    font-size: 6em !important;
    text-shadow: 4px 2px rgb(56, 56, 56);
    margin: 0 auto;
    width: 100%;
    height: 100px;

}

#ingred-title {
    font-family: 'Indie Flower', cursive;
    font-size: 3em
} 

#left-div {
    background-color:rgba(77,161,169,.60);
    margin-top: 20px;
    border: solid 2px;
    border-radius: 1em;
    
}

#right-div {
    margin-top: 20px;
    border: solid 2px; 
    border-radius: 15px;
    background-color: rgba(77,161,169,.60);
}

#recipe-div {
    font-family: 'Indie Flower', cursive;
    /* font-size: 20px; */
    margin-top: 5px;
    /* border: solid 2px; */
}

.text-size {
    font-size: 12px;
}

.shadow-text {
    text-shadow: 3px 3px 3px black;
}

.card .card-title {
    font-size: 1.5em;
}

#rest-div {
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    /* border: solid 2px; */
}

.container {
    width: 90%;
}

#user-input-ingredients::placeholder {
    color: rgb(80, 80, 80);
}

/* Joke Styling */
#joke-text {
    font-size: 1.5em;
}
hr {
    border-style: solid;
    border-width: 1px;
}

/* Instructions Styling */
#back-button {
    margin-bottom: 20px;
}
#instructionsButton {
    font-size: 16px;
}
